#coding: utf-8
LISTEN_PORT = 5000

tmp_dir = '/tmp'
source_titles = ['ID', 'AirCompanyCode', 'DepartureIATA', 'ArrivalIATA', 'DepartureTerminal', 'ArrivalTerminal', 'AirCraft', 'FlightNum', 'DepartureDate', 'ArrivalDate', 'Price', 'Currency', 'Class', 'Seats', 'Cost USD', 'Cost RUB', 'Cost EUR', 'Order limit', 'ReturnWay', 'AirCompanyCode Return', 'DepartureIATA Return', 'ArrivalIATA Return', 'DepartureTerminal Return', 'ArrivalTerminal Return', 'AirCraft Return', 'FlightNum Return', 'DepartureDate Return', 'ArrivalDate Return', 'Class Return', 'Seats Return', 'Cost USD Return', 'Cost RUB Return', 'Cost EUR Return', 'Baggage', 'Baggage Back', 'Air Rules', 'TourOperator']

db = {
    'host': 'localhost',
    'user': 'user',
    'password': 'secret',
    'db': 'db',
    'charter_table': 'charter',
}

sources = [
    {
        'name': 'test',
        'remote_proto': 'ftp',
        'remote_host': 'example.com',
        'auth_type': 'normal',
        'remote_user': 'user',
        'remote_password': 'secret',
        'path_to_file': '/test.csv',
    }
]

icao_to_iata = {
    'KAR': 'IK',
    'LLM': 'YC',
    'KGL': '7K',
}
