#coding: utf-8

db = {
    'host': 'localhost',
    'user': 'user',
    'password': 'secret',
    'db': 'db',
    'charter_table': 'charter',
}

sources = [
    {
        'name': 'test',
        'remote_proto': 'ftp',
        'remote_host': 'example.com',
        'auth_type': 'normal',
        'remote_user': 'user',
        'remote_password': 'secret',
        'path_to_file': '/test.csv',
    }
]

icao_to_iata = {
    'KAR': 'IK',
    'LLM': 'YC',
    'KGL': '7K',
}
